@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-theme-bg-color: #000000;
  --tg-theme-text-color: #ffffff;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
